body {
    background-color: #7303a4;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 15px;
}

h1 {
    font-weight: bolder;
    font-size: 1.7rem;
    padding-bottom: 0.2rem;
}

.info {
    text-align: center;
}

.container_data {
    position: relative;
    background-color: white;
    margin: 10% 3% 10% 15%;
    width: 70%;
    padding: 2rem;
    background-color: white;
    border-radius: 2%;
}

.form_data {
    position: relative;
    padding-bottom: 1rem;
    margin: 1%;

}

.form_data span {
    display: flex;
}

.form_data input[type="text"]:nth-child(1) {
    margin-right: 10px;
    padding-left: 2rem;

}

#lastName {
    padding-left: 2rem;
}


.input_data {

    width: 100%;
    border-style: none;
    background-color: #edefee;
    padding: 1rem 0 1rem 3.5rem;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: white;
    color: BLACK;
}

.icon_data {
    position: absolute;
    color: #929199;
    padding: 0.8rem 0rem 0rem 1rem;
    font-size: 1.3rem;
    top: 6px;
}



.check_box {
    position: relative;
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1rem;
}

.check_box label {
    display: contents;
}

.check_box input[type="checkbox"] {
    transform: scale(1.8);
    margin-right: 1rem;
}

#button_group {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

button[type="submit"] {
    background: #2c95e8;
    color: white;
    padding: .8rem 0 .8rem 0;
    width: 100%;
    border-style: none;
}


/*




//INPUT
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: .4rem;
    margin-bottom: .6rem;
    cursor: pointer;
    background-color: rgba(230, 230, 230, 0.732);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: white;
    color: var(--template_color);
}
.input_data::placeholder {
    text-align: left;
    position: relative;
    left: 3rem;
  }







*/